<ion-popover-view class="custom-popover">
    <ion-list>
        <ion-item ng-click="goToEditProfile()">
            Edit profile
        </ion-item>
        <ion-item ng-click="goToEditAccount()">
            Account settings
        </ion-item>
        <!-- <ion-item>
            Find <friends></friends>
        </ion-item> -->
        <ion-item ng-click="goToAboutAccount()">
            About Bazaarr
        </ion-item>
        <ion-item ng-click="goToAboutSupport()">
            Support Center
        </ion-item>
        <ion-item ng-click="popoverLogout()">
            Logout
        </ion-item>
    </ion-list>
</ion-popover-view>
