<ion-view view-title="{{clip.node.nid && 'Edit' || 'Add'}} Clip" class="clip-add-page">
    <ion-nav-buttons side="primary">
        <button class="button" ng-click="back()">
            <i class="ion-chevron-left"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <!--button class="button clip-add-save done" ng-click="addClip(clip, file)" ng-if="clip.node.ph_bid && file.file">
            <i class="ion-checkmark"></i>
        </button>
        <button class="button clip-add-save" ng-click="addClip(clip, file)" ng-if="!(clip.node.ph_bid && file.file)" disabled="disabled">
            <i class="ion-checkmark"></i>
        </button-->
        <button class="button clip-add-save" ng-click="addClip(clip, file)">
            <i class="ion-checkmark"></i>
        </button>
    </ion-nav-buttons>
    <ion-content class="padding" has-header="true" has-tabs="true" on-swipe-right="back()">
        <div class="limit-width">
            <div class="padding balanced-bg" ng-if="suc_mess"><i class="icon ion-checkmark-circled"></i> {{suc_mess}}</div>
            <div class="padding assertive-bg" ng-if="err_mess"><i class="icon ion-minus-circled"></i> {{err_mess}}</div>
            <div class="list">
                <div ng-if="!(clip.node.recliped || clip.node.nid)" class="item item-input" ng-class="is_ready ? 'choose-image' : ''">
                    <span class="input-label">Image</span>
                    <button ng-if="is_ready" class="button" ng-click="openPhotoSourcePopup()">Add Photo</button>
                    <input ng-if="!is_ready" accept="image/*;capture=camera" type="file" onchange="angular.element(this).scope().changedFile(this)"/>
                    <input type="hidden" ng-model="file.file" id="clipSource" />
                </div>
                <div class="text-center" ng-if="clip.node.nid">
                    <img ng-src="{{clip.node.img_large}}" class="clip-img" />
                </div>
                <div id="canvas_wrapp" ng-if="!clip.node.nid && !is_ready">
                    <canvas id="canvas" class="canvas-clip-img"></canvas>
                </div>
                <div ng-if="image_src" class="item no-border text-center">
                    <img ng-src="{{image_src}}" id="clipImage" class="clip-img" />
                </div>
                <!-- <ion-item class="item-input" ng-controller="InputCtrl" ng-click="openPopup('select-collection', 'clip.node.ph_bid', clip.node.ph_bid, 'Collection')">
                    <div class="row">
                        <div class="col label">Collection</div>
                        <div class="col value text-right">{{clip.node.ph_bid_title}}</div>
                        <div class="col col-10 text-right"><i class="ion-chevron-right"></i></div>
                    </div>
                </ion-item> -->
                <label class="item item-input edit-desc" ng-click="openPopup('textarea', 'clip.node.title', clip.node.title, 'Title')" ng-controller="InputCtrl">
                    <div class="row">
                        <div class="col label">Title</div>
                        <div class="col value text-right">{{clip.node.title}}</div>
                        <div class="col col-10 text-right"><i class="ion-chevron-right"></i></div>
                    </div>
                </label>
                <label class="item item-input edit-desc" ng-click="openPopup('full-text-edit', 'clip.node.body_value', clip.node.body_value, 'Description')" ng-controller="InputCtrl">
                    <div class="row">
                        <div class="col label">Description</div>
                        <div class="col value text-right">{{clip.node.body_value}}</div>
                        <div class="col col-10 text-right"><i class="ion-chevron-right"></i></div>
                    </div>
                </label>
                <ion-toggle ng-if="::user.data.hybridauth.id" ng-model="clip.node.send_to_facebook" toggle-class="toggle-calm" ng-true-value="'1'" ng-false-value="'0'">Post to Facebook</ion-toggle>
                <ion-list class="collection-list">
                    <ion-item class="title">Add to existing collection</ion-item>
                    <div class="collections">
                        <ion-item ng-class="clip.node.ph_bid == col.bid ? 'active' : ''" ng-repeat="col in collections" class="collection-item" on-tap="setCollection(col.bid, col.name)">
                            {{col.name || 'no name'}}<span ng-if="col.uid != user.uid"> shared from {{col.user_name}}</span><i ng-if="col.uid != user.uid" class="ion-ios-people"></i>
                        </ion-item>
                        <ion-item on-tap="setCollection()" class="add-collection"><i class="icon ion-plus"></i> Add to a new Collection</ion-item>
                    </div>
                </ion-list>
            </div>
            <div class="advanced-wrapper" ng-class="{expanded: advancedChecked==true}" ng-if="!clip.node.nid || ((clip.node.ph_did == 0 || clip.node.ph_did == clip.node.nid))">
                <ion-checkbox class="expand-button" ng-model="advancedChecked" ng-click="scrollToAdvance()">Advanced settings</ion-checkbox>
                <div class="advanced-list" ng-if="advancedChecked">
                    <div class="item item-input" ng-click="openPopup('select-category', 'clip.category.tid', clip.category.tid, 'Category')" ng-controller="InputCtrl">
                        <div class="row">
                            <div class="col label">Category</div>
                            <div class="col value text-right">{{clip.category.name}}</div>
                            <div class="col col-10 text-right"><i class="ion-chevron-right"></i></div>
                        </div>
                    </div>
                    <ion-toggle ng-model="clip.node.is_cover" toggle-class="toggle-calm" ng-true-value="'1'" ng-false-value="'0'">Collection cover</ion-toggle>
                    <ion-toggle ng-model="clip.node.reclip" toggle-class="toggle-calm" ng-true-value="'1'" ng-false-value="'0'">Disable reclips</ion-toggle>
                    <div class="item item-input" ng-click="openPopup('number', 'clip.node.price_value', clip.node.price_value, 'Price')" ng-controller="InputCtrl">
                        <div class="row">
                            <div class="col label">Price</div>
                            <div class="col value text-right">{{clip.node.price_value}}</div>
                            <div class="col col-10 text-right"><i class="ion-chevron-right"></i></div>
                        </div>
                    </div>
                    <div class="item item-input" ng-if="clip.node.price_value" ng-click="openPopup('select-currency', 'clip.node.currency', clip.node.currency, 'Currency')" ng-controller="InputCtrl">
                        <div class="row">
                            <div class="col label">Currency</div>
                            <div class="col value text-right">{{clip.node.currency}}</div>
                            <div class="col col-10 text-right"><i class="ion-chevron-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="clip.node.nid">
                <button ng-click="deleteClip(clip.node.nid)" class="button button-block edit-delete">Delete</button>
            </div>
        </div>
    </ion-content>
</ion-view>
