<ion-view class="view-clip-content">
    <ion-nav-buttons side="primary">
        <button class="button" on-tap="back()">
            <i class="ion-chevron-left"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <button ng-controller="ClipCtrl" class="button" ng-if="canReclip()" on-tap="clipActionReclip()">
            <i class="ion-scissors"></i>
        </button>
        <button ng-controller="ClipCtrl" class="button action-like" ng-if="clip.bloked !== 0" on-tap="clipActionLike()">
            <i class="ion-heart liked" ng-if="clip.voted"></i>
            <i class="ion-heart" ng-if="!clip.voted"></i>
        </button>
        <button ng-controller="ClipCtrl" class="button" on-tap="clipActionComments(clip.nid)">
            <i class="ion-chatbox"></i>
        </button>
    </ion-nav-buttons>

    <ion-content class="padding" has-header="true" has-tabs="true" on-swipe-right="back()" on-swipe-right="back()">
        <h2>{{feed_html.title}}</h2>
        <div ng-bind-html="feed_html.content"></div>
        <div class="text-center original-link" on-tap="openInApp(feed_html.url, false, false)">View original source</div>
    </ion-content>
</ion-view>