<fa-app style="height: 568px; width: 320px; margin: 0;">
  <fa-view fa-pipe-from="evt" fa-click="flip()">
    <fa-flipper id="flipper">
        <fa-surface fa-pipe-to="evt">
            <img src="https://www.bazaarr.net/sites/default/files/styles/large/public/clip_images/a0/24/a0244e2fa1855db90a21ba1988b53145.jpg?itok=87uVqTHP" />
        </fa-surface>
      <fa-surface fa-pipe-to="evt">
          <img src="https://www.bazaarr.net/sites/default/files/styles/large/public/clip_images/d5/be/d5be0691bc9ecaa823501c9a9bae36bb.jpg?itok=XZkKngrC" />
      </fa-surface>   
    </fa-flipper>
  </fa-view>
</fa-app>