<ion-view class="page-login" view-title=" " hide-nav-bar="true">
    <ion-nav-buttons side="secondary"></ion-nav-buttons>
    <ion-content has-header="true" has-bouncing="false">
        <div class="align-helper padding">
            <div class="limit-width-380">
                <div class="padding assertive-bg" ng-if="err_mess"><i class="icon ion-minus-circled"></i> {{err_mess}}</div>
                <img class="login-logo" src="images/Logo@2x.png" width="200" />
                <ng-include src="'app/common/form/login/form-login.view.html'"></ng-include>
                <div class="login-button-pass text-center"><a href="#!/forgot-password">Forgot password?</a></div>
                <div class="login-button-reg text-center"><a href="#!/registration">Don't have an account?</a></div>
            </div>
        </div>
    </ion-content>
</ion-view>
