<div class="main-menu">
    <div class="go-app-wrapper">
        <div class="go-app-inst" ng-click="hideBookmarkBar(); $state.go('get-app')">
            <span class="bazaarr-icon"></span>
            <span class="title"><span>Add bookmark to home screen for best experience</span></span>
        </div>
        <button ng-click="hideBookmarkBar()" class="ion-close-round"></button>
    </div>
    <div class="main-menu-bg">
        <div class="menu-wrapper limit-width">
            <a href="#!/explore" ng-class="$state.current.name == 'recent' || $state.current.name == 'shop' || $state.current.name == 'explore' || $state.current.name == 'popular'  ? 'active' : ''">
                <div class="icon ion-home"></div>
                <div class="label">Home</div>
            </a>
            <a ng-if='isLogin()' href="#!/following" class="{{active[1]}}">
                <div class="icon ion-person-stalker"></div>
                <div class="label">Following</div>
            </a>
            <a ng-if='!isLogin()' href="#!/login">
                <div class="icon ion-person"></div>
                <div class="label">Following</div>
            </a>
            <a href="#!/search/" ng-class="$state.includes('search') ? 'active' : ''">
                <div class="icon ion-search"></div>
                <div class="label">Search</div>
            </a>
            <a ng-if='isLogin()' href="#!/account/{{user.uid}}/collections" ng-class="$state.params['userId'] == user.uid ? 'active' : ''">
                <div class="icon ion-person"></div>
                <div class="label">My Account</div>
            </a>
            <a href="#!/login" ng-if='!isLogin()'>
                <div class="icon ion-person"></div>
                <div class="label">Sign In</div>
            </a>
        </div>
    </div>
</div>
