<ion-view class="page-support" view-title="Support Center">
    <ion-nav-buttons side="primary">
        <button class="button" ng-click="back()">
            <i class="ion-chevron-left"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">

    </ion-nav-buttons>
    <ion-content has-header="true" class="padding limit-width" on-swipe-right="back()">
        <div class="bwrap">
            <iframe class="uvw-dialog-iframe" style="display: block; border: none; width: 100%; height: 650px; visibility: visible; background: transparent;" allowtransparency="true" frameborder="0" src="https://bazaarr.uservoice.com/clients/widgets/classic_widget?mode=full&amp;link_color=007dbf&amp;forum_id=265286&amp;primary_color=cc6d00&amp;embed_type=inline&amp;trigger_method=embed&amp;contact_enabled=true&amp;feedback_enabled=true&amp;strings=e30%3D&amp;smartvote=true&amp;default_mode=support&amp;referrer=http%3A%2F%2Fbazaarr.dev%2Fm%2F%23%2Fsupport"></iframe>
            <div class="knowledge-base">
                <a class="title" href="http://support.bazaarr.com/knowledgebase">Knowledge base</a>
                <a class="question" href="http://support.bazaarr.com/knowledgebase/articles/452609-what-is-a-collection" target="_blank">What is a "collection"?</a>
                <a class="question" href="http://support.bazaarr.com/knowledgebase/articles/429871-how-do-i-add-clips-and-video-clips-to-collections" target="_blank">How do I add Clips and Video Clips to collections?</a>
                <a class="question" href="http://support.bazaarr.com/knowledgebase/articles/429872-what-is-a-clip" target="_blank">What is a "clip"?</a>
                <a class="question" href="http://support.bazaarr.com/knowledgebase/articles/429874-what-is-bazaarr" target="_blank">What is Bazaarr?</a>
            </div>
        </div>
    </ion-content>
</ion-view>
