<ion-view view-title="{{account.name}}" class="account-page">
    <ion-nav-title>
        <div class="user-header">
            <div class="user-photo">
                <img ng-src="{{account.picture}}" on-tap="openPhotoPopup()"/>
            </div>
            <div class="user-name">
                <div class="name">
                    <span class="uname">{{account.name}}</span>
                </div>
            </div>
        </div>
    </ion-nav-title>
    <ion-nav-buttons side="primary">
        <button class="button" ng-click="back()" ng-if="!isMyAccount()">
            <i class="ion-chevron-left"></i>
        </button>
        <button class="button no-hover" ng-if="isMyAccount()" ng-click="addClip()">
            <i class="ion-plus-round"></i>
        </button>
    </ion-nav-buttons>
    <ion-content delegate-handle="clipList" on-scroll="onScroll()" scroll="true" has-header="true" has-tabs="true" ng-class="!isMyAccount() ? 'not-my-acc' : 'my-acc'"  on-swipe-right="accountBack(isMyAccount())">
        <ion-refresher on-refresh="doRefresh()"></ion-refresher>
        <div class="user-page-wrapper" ng-class="{'full-desc' : isDescOpen}">
            <div class="user-info-wrapper">
                <div class="location" ng-if="account.website" ng-click="openInApp(account.website, false, false)"><i class="ion-ios-world-outline"></i>{{account.website}}</div>
                <div class="location" ng-if="account.location" ng-click="openOnMap(account.location)"><i class="ion-location"></i>{{account.location}}</div>
                <div ng-if="!isDescOpen" class="user-about" on-tap="toggleUserDesc(true)" ng-bind-html="account.about_short"></div>
                <div ng-if="isDescOpen" class="user-about" on-tap="toggleUserDesc(false)">{{account.about}} <span class="expand">(Hide...)</span></div>
                <div class="row user-menu text-center">
                    <a href="#!/account/{{account.uid}}/collections" class="col" ng-class="getUserMenuActive('collections')">
                        <span>{{account.collections_count}}</span><br />
                        <div>Collection{{account.collections_count == 1 ? '' : 's'}}</div>
                    </a>
                    <a href="#!/account/{{account.uid}}/clips" class="col" ng-class="getUserMenuActive('clips')">
                        <span>{{account.clips_count}}</span><br />
                        <div>Clip{{account.clips_count == 1 ? '' : 's'}}</div>
                    </a>
                    <a href="#!/account/{{account.uid}}/likes" class="col" ng-class="getUserMenuActive('likes')">
                        <span>{{account.liked_count}}</span><br />
                        <div>Like{{account.liked_count == 1 ? '' : 's'}}</div>
                    </a>
                    <a href="#!/account/{{account.uid}}/followers" class="col" ng-class="getUserMenuActive('followers')">
                        <span>{{account.followers_count}}</span><br />
                        <div>Follower{{account.followers_count == 1 ? '' : 's'}}</div>
                    </a>
                    <a href="#!/account/{{account.uid}}/following-users" class="col" ng-class="getUserMenuActive(['following-users', 'following-collections', 'following-hashtags'])">
                        <span>{{account.following_count}}</span><br />
                        <div>Following</div>
                    </a>
                </div>
            </div>
            <div class="user-content" ui-view></div> <!--ng-style="getCover()"-->
        </div>
        <!--<div class="user-content" ui-view></div>-->
    </ion-content>
</ion-view>
