<div ng-if="pass.mess" class="form-group alert-danger">
    {{pass.mess}}
</div>
<div ng-if="!user.forgot_password" class="form-group"> <!--  ng-if="pass.password.length > 6 && pass.password == pass.confirmPassword" -->
    <label>Please enter current password</label>
    <input type="password" class="form-control" ng-model="pass.current_password" required />
</div>
<div class="form-group">
    <label>Please enter new password</label>
    <input type="password" class="form-control" ng-model="pass.password" required />
</div>

<div class="form-group">
    <label>Confirm new password</label>
    <input type="password" class="form-control"
           ng-class="checkPass(pass)"
           ng-model="pass.confirmPassword"
           required compare-to="pass.password" />
</div>
