<ion-view class="page-login" hide-nav-bar="true">
    <ion-nav-buttons side="primary">
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
    </ion-nav-buttons>
    <ion-content has-header="true" class="padding vcenter">
        <div class="align-helper">
            <div class="limit-width-380">
                <div class="input-label-top text-left">Username or e-mail address</div>
                <label class="item item-input">
                    <input type="text" ng-model="forgot.name">
                </label>
                <button class="button button-block button-dark login-btn" ng-click="sendPassword(forgot.name)">
                    E-mail new password
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>